# Config files

.editorconfig
.env.example
.env*.local
.DS_Store
.gitignore
docker-compose.yml
Dockerfile-belcorp
.pnp
.pnp.js
*.pem
*.tsbuildinfo
next-env.d.ts
.yarn/install-state.gz

# Config folders
.git
.github
.swc
.vscode
.vercel
out

# Info files
README.md

# Info folders
coverage
logs
redis
build

# log Folders
npm-debug.log*
yarn-debug.log*
yarn-error.log*